/* This is the style sheet for the doctorDashboard.html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #003e3e; 
}

.main-content {
  flex-grow: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* background: url('../images/index.png') no-repeat center center fixed;  */
  background-size: cover; 
}

.searchBar {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.filter-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-button {
  background-color: #015c5d;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
}

.filter-button:hover {
  background-color: #003e3e;
}

.table-header {
  font-size: 24px;
  color: #015c5d;
  margin-bottom: 30px;
  margin-right: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  margin-top: 20px;
}

thead {
  background-color: #33333310;
  color: #fff;
}

td, th {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
  background-color: #f9f9f959;
}

table tr:nth-child(odd) {
  background-color: #0084ffc0; 
}

table tr:hover {
  background-color: #015c5d39; 
  transition: background-color 0.2s ease-in-out;
}

.prescription-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
}

.prescription-btn:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.prescription-btn:active {
  transform: scale(0.95);
}

.noPatientRecord {
  font-size: 16px;
  font-style: italic;
  color: grey;
}

.today-btn {
  margin-right: 10px;
  padding: 10px;
  background-color: #015c5d;
}

.date-picker {
  margin-left: 10px;
  margin-top: 13px;
  border-radius: 8px;
  padding: 10px;
  height: 30px;
}
